
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="slider-container">
    <div class="mySlide fade-c">
        <img src="~/img/img-home/slide10.jpg" alt="" />
    </div>

    <div class="mySlide fade-c">
        <img src="~/img/img-home/slide06.png" alt="" />
    </div>

    <div class="mySlide fade-c">
        <img src="~/img/img-home/slide11.jpg" alt="" />
    </div>

    <div class="mySlide fade-c">
        <img src="~/img/img-home/slide08.jpg" alt="" />
    </div>

    <div class="mySlide fade-c">
        <img src="~/img/img-home/slide06.png" alt="" />
    </div>

    <div class="mySlide fade-c">
        <img src="~/img/img-home/slide07.jpg" alt="" />
    </div>
</div>

<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-xxl col-xl col-lg col image-brand dior">
                <a href="">
                    <img src="~/img/img-home/dior.png" alt="" class="dior">
                </a>
            </div>
            <div class="col-xxl col-xl col-lg col image-brand calvin">
                <a href="">
                    <img src="~/img/img-home/Calvin_Klein_logo-700x123.png" alt="" class="calvin">
                </a>
            </div>
            <div class="col-xxl col-xl col-lg col image-brand versace">
                <a href="">
                    <img src="~/img/img-home/versace.png" alt="" class="versace">
                </a>
            </div>
            <div class="col-xxl col-xl col-lg col image-brand lauder">
                <a href="">
                    <img src="~/img/img-home/chanel.png" alt="" class="lauder">
                </a>
            </div>
            <div class="col-xxl col-xl col-lg col image-brand ysl">
                <a href="">
                    <img src="~/img/img-home/gucci.png" alt="" class="ysl">
                </a>
            </div>

        </div>
    </div>
</div>

<div class="card-product">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-6 perfume-category">
                <div class="perfume-category-block">
                    <a href="" class="content-cardImage">
                        <div class="img">
                            <img src="~/img/img-home/female.png" alt="" class="img-cart-list">
                        </div>
                        <div class="des">
                            <p>Nước hoa nam</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-6 perfume-category">
                <div class="perfume-category-block">
                    <a href="" class="content-cardImage">
                        <div class="img">
                            <img src="~/img/img-home/male.png" alt="" class="img-cart-list">
                        </div>
                        <div class="des">
                            <p>Nước hoa nữ</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-6 perfume-category">
                <div class="perfume-category-block">
                    <a href="" class="content-cardImage">
                        <div class="img">
                            <img src="~/img/img-home/unisex.png" alt="" class="img-cart-list">
                        </div>
                        <div class="des">
                            <p>Nước hoa unisex</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-6 perfume-category">
                <div class="perfume-category-block">
                    <a href="" class="content-cardImage">
                        <div class="card-img">
                            <img src="~/img/img-home/new.jpg" alt="" class="img-cart-list">
                        </div>
                        <div class="des">
                            <p>Nước hoa mới</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="list-product-trending" style="margin-top: 50px;">
    <div class="container">
        <div class="intro-product-trending">
            <div class="intro-content">
                <h1 class="intro-content-des">Nước hoa xu hướng</h1>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top: 40px;">
            @foreach (var item in ViewBag.listTrending)
            {
                <div class="col-xxl col-lg col-6 product-trending">
                    <div class="card">
                        <img src="~/img/img-product/@item.ProductID-01.png" class="card-img-top" alt="Sản phẩm 01">
                        <div class="card-body">
                            <h1 class="card-title-brand">@item.CategoryName</h1>
                            <h3 class="card-title-productName">@item.ProductName @*<span class="card-capacity">105ml</span>*@</h3>
                            <span class="card-product-price">@item.ProductPrice.ToString("C0").Replace(",", ".").Substring(1)<span> ₫</span></span>
                            <h4 class="card-product-gender">Nước hoa cho @item.ProductGender.ToLower()</h4>
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductID" class="btn btn-outline-success card-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
            
        </div>

        @*<div class="intro-view-all">
            <a class="btn btn-outline-dark btn-view-all" href="#">
                Xem tất cả
            </a>
        </div>*@
    </div>
</div>



<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xxlcol-6 col-xl-6 col-lg-6 col-12 leftbanner">
                <img src="~/img/img-home/banner01.jpg" alt="" class="left-image">
            </div>
            <div class="col-xxlcol-6 col-xl-6 col-lg-6 col-12 rightbanner">
                <img src="~/img/img-home/banner02.jpg" alt="" class="right-image">
            </div>
        </div>
    </div>
</div>

@*Sản phẩm đề xuất*@

<div class="list-product-trending" style="margin-top: 50px;">
    <div class="container">
        <div class="intro-product-recommend">
            <div class="intro-content">
                <h1 class="intro-content-des">Đề xuất cho bạn</h1>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top: 40px;">

            @foreach (var item in ViewBag.listRecommend)
            {
                <div class="col-xxl col-lg col-6 product-trending">
                    <div class="card">
                        <img src="~/img/img-product/@item.ProductID-01.png" class="card-img-top" alt="Sản phẩm 01">
                        <div class="card-body">
                            <h1 class="card-title-brand">@item.CategoryName</h1>
                            <h3 class="card-title-productName">@item.ProductName @*<span class="card-capacity">105ml</span>*@</h3>
                            <span class="card-product-price">@item.ProductPrice.ToString("C0").Replace(",", ".").Substring(1)<span> ₫</span></span>
                            <h4 class="card-product-gender">Nước hoa cho @item.ProductGender.ToLower()</h4>
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductID" class="btn btn-outline-success card-view-detail">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
            
           @* <div class="intro-view-all">
                <a class="btn btn-outline-dark btn-view-all" href="#">
                    Xem tất cả
                </a>
            </div>*@
        </div>


    </div>
</div>



