@model IEnumerable<PerfumeWepAppMVC.NET06.Models.Product>
@using PerfumeWepAppMVC.NET06
@using PerfumeWepAppMVC.NET06.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <h1>Danh sách sản phẩm</h1>

    <p>
        <a asp-action="Create" class="btn btn-outline-dark" >Tạo mới sản phẩm</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Volume)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Price)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Volume)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Product_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Product_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Product_ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

    <nav aria-label="Page navigation example" class="nav-paging">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="ManageProducts" asp-route-page="@i">@i</a></li>
            }
        </ul>
    </nav>
</div>

